.first{ 
    background-image:image(Top);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 17%;
    font-family: serif;
    /* padding-bottom: 5%; */
}
.second{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
    font-family: sans-serif;
    background-image: none;
    background-position: center;
}
.third{
  text-align: center;
  color: white; 
  background-position: center;
  background-size: cover;
  font-size: 18px;
}